*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
  }

  .alignments{
    display: flex;
    flex-direction: row;
    background: url('../components/assets/street_food.svg') 1% 50% no-repeat;
    overflow: hidden;
  }

  .divImas{
    width: 100vw;
    height: 100vh;
  }
  
  .container {
    width: 50rem;
    height: 100vh;
    margin: auto;
    border-radius: 100px 0 0 100px;
    color: #FFFFFF;
    background-color: #45413C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .barbecue{
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .form{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .formP{
    font-size: 20px;
    margin-bottom: 1rem;
  }
  
  .inputGlobal{
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    font-size: 1.5rem;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #000000;
    background-color: #87898C;
    
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  .calculationGlobal{
    appearance: none;
    border: 0;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    color: #2e2e2e;
    background-color: #87898C;
    transition: 500ms;
  }
  
  .calculationGlobal:hover{
    color: rgb(216, 216, 216);
    background-color: #1b1b1b;
  }

  #textBarbecue{
    margin-top: 2rem;
    font-size: 25px;
  }

  #textBarbecue p{
    margin-bottom: 10px;
  }






  footer {
    width: 100%;
    
    position: absolute;
    color: #000000;
    background-color: #87898C;
  }

  footer .divFooter{
    margin: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  footer .divFooter a {
    color: rgb(255, 255, 255);
  }

  @media (max-width: 600px){
    .container {
      width: 100vw;
      height: 100vh;
      margin: auto;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }

    .divImas{
      width: 0;
      height: 0;
    }

    .alignments{
      display: flex;
      flex-direction: row;
      background: none;
    }
  }